*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build
app/debug/output.json
app/release/bysj2020-1.0.apk
app/release/output.json
app/debug/bysj2020-1.0.apk
