<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bysj2020">
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 访问网络，网络定位需要上网 -->
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/theme"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/theme"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.PaySuccess"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.OrderList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Favorite"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SceneOrderDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HotelOrderDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SceneBooking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HotelBooking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HotelDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SceneDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HotelList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SceneList"
            android:screenOrientation="portrait" />

        <meta-data android:name="com.amap.api.v2.apikey" android:value="7dac5a4bc047684786b8c074ac44d3be">

        </meta-data>

        <activity
            android:name=".activity.SearchList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyInfoEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Area"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyPhone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SystemSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountSecurity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PersonalInformation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingNotice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginVerificationCode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Launch"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Welcome"
            android:screenOrientation="portrait" />

        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>